<template lang="pug">
.index
  .container
    section.index__head
      h1.title_bigger.mb-24 Найдите идеальное место для своего отдыха
      p.text_middle Выберите для этого все необходимые параметры поиска

    .index__search
      form.form.index__form
        label.form__label.index__form-place.form__label_with-icon
          SearchIcon.icon.form__label-icon
          input.form__input(type="text", required)
          span.form__placeholder Место или наименование турбазы

        DataPicker(:multiCalendars="true", placeholder="Даты заезда и выезда")

        CustomSelect

        //- button.btn.btn_green Найти
        button.btn.btn_green(@click.prevent="sesf") Найти

      .map
        img.map__img(src="@/assets/img/details/card.jpg")

    section.performance
      .performance__item
        h2.title_middle.mb-16 Наша миссия
        p.text_middle — сделать туризм по России намного популярнее. Для этого мы собираем информацию об интересных местах и делимся с Вами!
      .performance__item
        h2.title_up-middle 5 720
        p.text_middle объектов
      .performance__item
        h2.title_up-middle 106
        p.text_middle мест отдыха

    Catalog
  BannerSub
  .container
    section.index__info
      .index__info-inner
        h3.title_up-middle.mb-32 Базы отдыха России с ценами 2022 и&nbspотзывами
        p.text_middle.index__info-text Какой тип отдыха способен подарить человеку самые положительные эмоции и море приятных воспоминаний? Путешествия! Только путешествуя, человек способен сбросить груз ежедневных проблем, которые долго разъедали его изнутри. Только покинув знакомую обстановку, можно восстановить пошатнувшееся душевное равновесие и по-настоящему отдохнуть.
        p.text_middle.index__info-text Отдых на природе является одним из лучших способов расслабиться и восстановиться от городской суеты, которая ежедневно вытягивает из человека все силы, постепенно загоняя его в состояние апатии. Максимальный комфорт от отдыха на природе можно получить, забронировав номер на туристической базе. Но далеко не всегда удается успеть забронировать для себя хороший номер. Также бывают случаи, когда свободных номеров не остается вовсе. Как лучше поступить в этой ситуации человеку, которому отдых на красивой природе жизненно необходим?
        p.text_middle.index__info-text Воспользуйтесь услугами нашей компании. Мы – это превосходный сервис, благодаря которому каждый человек имеет возможность забронировать номер практически в любой базе отдыха на территории России. Мы заключили договора с большим количеством туристических баз, и внесли их в свой каталог. Это позволяет клиентам заранее оценить комфорт баз отдыха, внутреннюю обстановку номеров и ценовой диапазон. Заключение договоров с турбазами оказалось довольно непростым мероприятием. Большая часть из них находится далеко за пределами больших городов. Но мы это сделали.
        p.text_middle.index__info-text Теперь вы имеете возможность, не выходя из дома и не тратя собственное время на поиск турбаз, ознакомиться с обширным каталогом баз отдыха и выбрать ту, которая больше всего вам подходит. Также в каталоге указаны цены 2022 года. Собранная нами точная информация позволяет вам, потратив минимум времени и усилий, найти и забронировать нужный номер в нужной базе отдыха, и насладиться заслуженным отдыхом на красивой природе.
        p.text_middle.index__info-text В каталоге, кроме основных сведениях о туристических базах, также указываются отзывы клиентов о каждой базе отдыха. Ознакомившись с ними, вы узнаете, насколько высоко качество обслуживания на каждой отдельной турбазе, какое состояние номеров и другие полезные сведения. Зачем тратить свое время на поиски турбаз и попытки забронировать номер, когда у вас есть превосходная возможность выбрать из готового каталога наиболее выгодный вариант по разумной цене? Воспользуйтесь нашим сервисом и насладитесь долгожданным отдыхом!

      .info__group
        h3.title_up-middle.mb-32 Наши сообщества
        #vk_groups
</template>

<script setup>
import Catalog from "@/components/Catalog";
import BannerSub from "@/layout/BannerSub";
import DataPicker from "@/layout/DataPicker";
import CustomSelect from "@/layout/CustomSelect";
import { SearchIcon } from "@/layout/icon/index";
import { useRouter } from "vue-router";
// script setup logic
const router = useRouter();
const sesf = () => {
  router.push({ name: "Reservation" });
};
</script>

<style lang="stylus">
@import '@/assets/styles/vars.styl';

.index {
  &__head {
    max-width: 600px;
    text-align: center;
    margin: 48px auto;
  }

  &__search {
    margin: 48px 0 80px;
  }

  &__form {
    position: relative;
    z-index: 5;
    max-width: 1152px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 24px 32px;
    border-radius: 24px;
    box-shadow: 0px 15px 39px -31px rgba(0, 0, 0, 0.11);

    &-place {
      max-width: 390px;
      width: 100%;
    }

    .calendar {
      max-width: 266px;
      width: 100%;
    }

    .select {
      max-width: 192px;
      width: 100%;
      margin: 0;
    }
  }

  &__info {
    display: flex;

    &-inner {
      width: 752px;
      margin-right: var(--offset-up-mid);
    }

    &-text {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .banner {
    margin-bottom: 80px;
  }

  .performance {
    margin-bottom: 80px;
  }

  .map {
    width: 100%;
    height: 540px;
    border-radius: 32px;
    overflow: hidden;
    margin-top: -66px;

    &__img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
</style>