.title
  &_bigger
    font-size 40px
    line-height 48px
    font-weight 800
    
  &_up-middle
    font-size 32px
    line-height 40px
    font-weight 700

  &_middle
    font-size 24px
    line-height 32px
    font-weight 700

  &_pre-middle
    font-size 16px
    line-height 24px
    font-weight 700

  &_small
    font-size 12px
    line-height 16px
    font-weight 700


.text
  &_bigger
    font-size 20px
    line-height 32px

  &_middle
    font-size 16px
    line-height 24px

  &_small
    font-size 12px
    line-height 12px

.controls
  &_bigger
    font-size 20px
    line-height 24px
    font-weight 600

  &_middle
    font-size 16px
    line-height 20px
    font-weight 500

  &_small
    font-size 12px
    line-height 12px
    font-weight 500