<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M8.84325 2.875L4.50171 9.30119C4.27287 9.63991 4.35143 10.0988 4.67992 10.3421L14.6092 17.6967C15.3982 18.281 16.354 18.5965 17.3357 18.5965H22.006C22.4412 18.5965 22.7934 18.2327 22.7529 17.7994C22.543 15.5544 21.8566 16.2672 18.7811 14.6284C16.0664 13.1818 15.6786 9.87348 15.824 8.40011C14.095 8.18246 10.5787 7.29509 10.3461 5.48687C10.1134 3.67865 9.24723 2.9922 8.84325 2.875Z"
      fill="#222222"
    />
    <path
      d="M14.4616 18.696L4.26421 11.1126C3.93237 10.8658 3.46188 10.9446 3.22849 11.2859C3.00726 11.6095 3.08188 12.0502 3.39732 12.2829L14.1179 20.1924C14.881 20.7553 15.7999 21.0676 16.748 21.0861L22.2203 21.1931C22.6477 21.2015 22.9987 20.8573 22.9987 20.4298V20.3645C22.9987 19.9428 22.6569 19.601 22.2352 19.601H17.1952C16.2104 19.601 15.2518 19.2837 14.4616 18.696Z"
      fill="#222222"
    />
    <rect
      x="1"
      y="17.542"
      width="4.58333"
      height="1.83333"
      rx="0.916667"
      fill="#222222"
    />
    <rect
      x="4.66797"
      y="20.292"
      width="4.58333"
      height="1.83333"
      rx="0.916667"
      fill="#222222"
    />
  </svg>
</template>