<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.27875 4H17.8772L18.1107 4.46972C20.5508 9.3792 20.4638 15.1661 17.8772 20H6.27875C3.60542 15.0017 3.60542 8.99833 6.27875 4Z" fill="#222222"/>
<path d="M4 7H21" stroke="white" stroke-linecap="round"/>
<path d="M8 4L8 20" stroke="white" stroke-linecap="round"/>
<path d="M12 4L12 20" stroke="white" stroke-linecap="round"/>
<path d="M16 4L16 20" stroke="white" stroke-linecap="round"/>
<path d="M4 17H21" stroke="white" stroke-linecap="round"/>
</svg>

</template>