<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.1236 5.37602L8.78261 7H12.087L12.746 5.37602C13.0128 4.7185 12.5289 4 11.8194 4H9.05021C8.34062 4 7.85678 4.7185 8.1236 5.37602Z" fill="#222222"/>
<path d="M12.087 8.16667H8.78261L6.22536 16.1314C6.09136 16.5488 6.2448 17.0048 6.60386 17.2562L9.9481 19.5983C10.2925 19.8395 10.751 19.8395 11.0954 19.5983L14.4281 17.2643C14.7927 17.009 14.9446 16.5435 14.8009 16.1223L12.087 8.16667Z" fill="#222222"/>
<path d="M15.3227 13.5159L13.8261 9.5L14.3478 9.16667L17.6347 11.8666C17.866 12.0566 18 12.3401 18 12.6394V13.1667C18 13.719 17.5523 14.1667 17 14.1667H16.2597C15.8421 14.1667 15.4685 13.9072 15.3227 13.5159Z" fill="#222222"/>
</svg>

</template>